---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout>
	<main class="app-container pt-36">
		<h1 class="text-6xl pb-2 font-bold">What's mirzu</h1>
	</main>
	<section class="app-container py-12 mb-8">
		<div
			class="prose prose-neutral prose-lg md:prose-xl dark:prose-invert prose-img:rounded-xl prose-figure:text-center prose-img:mx-auto"
		>
			<p>It's me. I'm mirzu, and that's all there is.</p>

			<p>
				I created the handle in an ancient communication tool called <a
					href="https://en.wikipedia.org/wiki/AIM_(software)"
					>AOL Instant Messenger AIM</a
				>.
			</p>
			<p>
				I had to pick a name, wanted something short that started with the
				Letter M and thought "mirzu" sounded cool. I met a huge group of friends
				over the protocal, and the first we met up was also the first time I had
				to pronounce it. I settled on it's pronounced "MEER-zoo". First part
				rhymes with beer and the second sounds like the park you visit animals
				at.
			</p>
		</div>
	</section>
</BaseLayout>
